<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="contactinfo">
              <ul class="nav nav-pills">
                <li><a href=""><i class="fa fa-phone"></i> +84** 024 505</a></li>
                <li><a href=""><i class="fa fa-envelope"></i> chuqueibao@gmail.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="social-icons pull-right">
              <ul class="nav navbar-nav">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header_top-->

   <div class="header-middle"><!--header-middle-->
      <div class="container">
        <div class="row">
          <div class="col-md-4 clearfix">
            <div class="logo pull-left">
              <a href="">
                <%= link_to image_tag("home/Logo_Funny.png", style: "width: 15rem;"), root_path%><!-- <img src="home/Logo_Funny.png" alt="" style="width: 15rem"/> --></a>
            </div>
          </div>
          <div class="col-md-8 clearfix">
            <div class="shop-menu clearfix pull-right">
              <ul class="nav navbar-nav">
                
                <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
                <li><a href="index.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                <% if total_cart_items %>
                <li>
                 <div class="cart-fixed">
                  <a><%= link_to ('<i class="fa fa-shopping-cart"></i> Cart').html_safe, carts_path  %>
                  <span class="badge">
                  <%=cart_count_over_one%>
                </span>
                 </a>
               </div>
                </li>
                <%end%>
                <% if user_signed_in? %>
                  <% if current_user %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      
                      <i class="fa fa-user">   <%= current_user.name%></i>
                     </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <li><%= link_to " Account Settings", edit_user_registration_path, class: "dropdown-item"%></li>
                     
                    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"dropdown-item"%></li>
                   
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                   </ul>
                  </li>
                <%end%>
                <%else%>
                <li> 
                  <%=link_to ('<i class="fa fa-lock"> Login</i>').html_safe, new_user_session_path%>
                </li>
                 <li> 
                <%=link_to ('<i class="fa fa-unlock"> Sign up</i>').html_safe, new_user_registration_path%>
                </li>
                
                <%end%>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header-middle-->
  
    <div class="header-bottom"><!--header-bottom-->
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="mainmenu pull-left">
              <ul class="nav navbar-nav collapse navbar-collapse">
                <li>
                  <%= link_to 'Home', root_path, class: "navbar-brand" %>
                </li>
                <li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                  <ul role="menu" class="sub-menu">
                    <li><a href=""><%= link_to "Products", products_path%></a></li>
                    <li><a href="product-details.html">Product Details</a></li> 
                    <li><a href=""><%= link_to "Check Out", invoices_path%></a></li> 
                    <li><a href=""><%= link_to "Cart", carts_path%></a></li> 
                </ul>
                </li> 
                <li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="">
                                         <%= link_to "Blog List", blogs_list_path%></a></li>
                    <li><a href=""><%= link_to "Blog Single", blogs_single_path %></a></li>
                                    </ul>
                                </li> 
                <li><a href="404.html">404</a></li>
                <li><a href="contact-us.html">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="search_box pull-right">
            <%= form_tag products_path, method: :get do |f| %>
            <%= text_field_tag :search, (params[:search] || ""), placeholder:"Search products" %>
            <%= submit_tag "Search", style:"display:none" %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header-bottom-->
  </header><!--/header-->
  





