<%= form_for @invoice do |form| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% @invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
 <!--  <#%= form.fields_for :orders do |order| %> -->
  <% if user_signed_in? %>
  <% if current_user %>
  <%= form.text_field :username, value: current_user.name %>
  <%= form.text_field :phone_number, value: current_user.phone %>
  <% @order_items.each do |item| %>
  <%= form.fields_for :invoice_items, @invoice.invoice_items.build do |invoice_item|%>
   <%= render 'items', f: invoice_item, fo: item %>
   <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<% end %>
<% end %>

<%= debug(@invoice.errors.inspect) %>