
<h1>Invoices</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Phone Number</th>
      <th>Status</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if user_signed_in? %>  
    <% if current_user %>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.username %></td>
        <td><%= invoice.phone_number %></td>
        <td><%= invoice.status %></td>
        <td><%= invoice.total.to_s.to_d %></td>
        <td><%= link_to 'Show', invoice %></td>
      </tr>
  </tbody>
     <% end %>
     <% end %>
     <% end %> 
</table>

  
<br>

<%= link_to 'New Invoice', new_invoice_path %>
