<section id="advertisement">
    <div class="container">
      <%= image_tag('shop/advertisement.jpg',alt:"Shop Advertisement") %>
    </div>
  </section>
  
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="left-sidebar">
            <h2>Category</h2>
            <div class="panel-group category-products" id="accordian"><!--category-productsr-->
              <% @categories.each do |cat| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a href=""><%= link_to cat.name, products_path(cate: cat.id) %></a><span class="badge bg-primary"> <%= cat.products.count %></span></h4>
                  
                </div>
              </div>
              <%end%>
            </div><!--/category-productsr-->
          
            <div class="brands_products"><!--brands_products-->
              <h2>Brands</h2>
              <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                  <% @brands.each do |brand| %>
                  <li><%= link_to(products_path(brand: brand.id)) do %>
                    <div><%= brand.name %><span class="pull-right"><%= brand.products.count %></span></div>
                  </li>
                  <% end %>
                  <% end %>
                </ul>
              </div>
            </div><!--/brands_products-->
            
            <div class="price-range"><!--price-range-->
              <h2>Price Range</h2>
              <div class="well">
                 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
                 <b>$ 0</b> <b class="pull-right">$ 600</b>
              </div>
            </div><!--/price-range-->
            
            <div class="shipping text-center"><!--shipping-->
              <%= image_tag('home/shipping.jpg', alt: "Shipping") %>
            </div><!--/shipping-->
            
          </div>
        </div>
        
        <div class="col-sm-9 padding-right">
          <div class="features_items"><!--features_items-->
            <h2 class="title text-center">Features Items</h2>
            <% @products.each do |product| %>
            <div class="col-sm-4">
              <div class="product-image-wrapper">               
                <div class="single-products">
                  <div class="productinfo text-center">
                      <%= image_tag product.image, size: '200x230', alt:"Product Image"%>
                     <br><br/>
                     <span><%= product.name %></span>
                    <h4 class="old-price">$<%= product.price %></h4> 
                    <h2>$<%= product.new_price %> </h2>
                    <!-- <a href="" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>  -->
                   
                  </div>
                  <div class="product-overlay">
                    <div class="overlay-content">  
                      <span><%= product.name %></span> 
                      <h2>$<%= product.new_price %></h2>
                      
                      <%= link_to ("<i class='fa fa-shopping-cart'></i>View product").html_safe, product, class:"btn btn-default add-to-cart"%> 
                      <% if product.rating.blank? %>
                      <% else %>
                       <p><%= product.rating%><%= render_stars(product.rating)%></p>
                      <% end %>   
                     
                    </div>
                  </div>
                </div>
                <div class="choose">
                  <ul class="nav nav-pills nav-justified">
                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                  </ul>               
                </div>
              </div>
            </div>
             <% end %>
          </div><!--features_items-->
        </div>   
        <ul class="digg_pagination current">
              <%= will_paginate @products%>
        </ul>
      </div>
    </div>
  </section>