<section>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="left-sidebar">
            <h2>Category</h2>
            <div class="panel-group category-products" id="accordian"><!--category-productsr-->
              <% @categories.each do |cat| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a href=""><%= link_to cat.name, products_path(cate: cat.id) %></a><span class="badge bg-primary"> <%= cat.products.count %></span></h4>
                </div>
              </div>
              <%end%>
            </div><!--/category-products-->
          
            <div class="brands_products"><!--brands_products-->
              <h2>Brands</h2>
              <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                   <% @brands.each do |brand| %>
                  <li><%= link_to(products_path(brand: brand.id)) do %>
                    <div><%= brand.name %><span class="pull-right"><%= brand.products.count %></span></div>
                  </li>
                  <% end %>
                  <% end %>
                </ul>
              </div>
            </div><!--/brands_products-->
            
            <div class="price-range"><!--price-range-->
              <h2>Price Range</h2>
              <div class="well">
                 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
                 <b>$ 0</b> <b class="pull-right">$ 600</b>
              </div>
            </div><!--/price-range-->
            
            <div class="shipping text-center"><!--shipping-->
              <%= image_tag('home/shipping.jpg', alt:"Shipping Image") %>
            </div><!--/shipping-->
            
          </div>
        </div>
        
        <div class="col-sm-9 padding-right">
          <div class="product-details"><!--product-details-->
            <div class="col-sm-5">
              <div class="view-product">
                <%= image_tag @product.image%>
                <h3>ZOOM</h3>
              </div>
              <div id="similar-product" class="carousel slide" data-ride="carousel">
                
                  <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                    <div class="item active">
                      <%= image_tag('product-details/similar1',alt:'picture gallery')%>
                      <%= image_tag('product-details/similar2',alt:"picture gallery 2") %>
                      <%= image_tag('product-details/similar3', alt:"picture gallery 3")%>
                    </div>
                    <div class="item">
                      <%= image_tag('product-details/similar1', alt:"picture gallery 1")%>
                      <%= image_tag('product-details/similar2', alt:"picture gallery 2")%>
                      <%= image_tag('product-details/similar3', alt:"picture gallery 3")%>
                    </div>
                    <div class="item">
                      <%= image_tag('product-details/similar1', alt:"picture gallery 1")%>
                        <%= image_tag('product-details/similar2', alt:"picture gallery 2")%>
                      <%= image_tag('product-details/similar3', alt:"picture gallery 3")%>
                    </div>
                    
                  </div>

                  <!-- Controls -->
                  <a class="left item-control" href="#similar-product" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                  </a>
                  <a class="right item-control" href="#similar-product" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                  </a>
              </div>

            </div>
            <div class="col-sm-7">
              <div class="product-information"><!--/product-information-->
                <%= image_tag('product-details/new', alt:"new label", class:"newarrival") %>
                <h2> <%= @product.name %></h2>
                <p>Web ID: 1089772</p>
                
                <span>
                  <span>Sale-off <%=number_to_currency @product.new_price %></span>
                   <h4 class="old-price">$<%= @product.price %>
                   </h4>

                <p><strong>From user: </strong>
                  <%= "#{@avg_review}"%><div class="star-rating" data-score= <%= @avg_review %> ></div> <em><%= "#{@reviews.length} reviews" %></em>
                </p>
                
              
                <br>
                  <label>Quantity:</label>
                  <%= form_with model: @order_item, remote: true do |f| %>
                    <%= f.hidden_field :product_id, value: @product.id, readonly: true%>
                    <%= f.number_field :quantity, value: 1, min: 1 %>
                  <%= f.button :submit, class:"btn btn-default cart" do%>
                    <i class="fa fa-shopping-cart"> Add to cart</i>
                    <%end%> 
                  <%end%>
                </span>
                <p><b>Availability:</b> In Stock</p>
                <p><b>Condition:</b> New</p>
                <p><b>Brand:</b> <%= @product.brand.name %></p>
                <%= image_tag('product-details/share', alt:"share",class:"share img-responsive") %>
              </div><!--/product-information-->
            </div>
          </div><!--/product-details-->

        <div class="content column is-9">
            <b>Description: </b><%= truncate(@product.description, length: 2000) %>
         </div>
          <br><br>
          
          <div class="category-tab shop-details-tab"><!--category-tab-->
            <div class="col-sm-12">
              <ul class="nav nav-tabs">
                <li><a href="#details" data-toggle="tab">Details</a></li>
                <li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
                <li><a href="#tag" data-toggle="tab">Tag</a></li>
                <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane fade" id="details" >
                <div class="col-sm-3">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <%= image_tag('home/gallery1', alt:"gallery 1")%>
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <%= image_tag('home/gallery2', alt:"gallery 2")%>
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <%= image_tag('home/gallery3', alt:"gallery 3")%>
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="images/home/gallery4.jpg" alt="" />
                        <%= image_tag('home/gallery4', alt:"gallery 4") %>
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="tab-pane fade" id="companyprofile" >
                <div class="col-sm-3">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="images/home/gallery1.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="images/home/gallery3.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="images/home/gallery2.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="images/home/gallery4.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="tab-pane fade" id="tag" >
                <div class="col-sm-3">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="images/home/gallery1.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="images/home/gallery2.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="images/home/gallery3.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="images/home/gallery4.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="tab-pane fade active in" id="reviews" >
                <div class="col-sm-12">
                  <ul>
                    <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                    <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                    <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  <p><b>Write Your Review</b></p>
                  
                  <form action="#">
                    <span>
                      <input type="text" placeholder="Your Name"/>
                      <input type="email" placeholder="Email Address"/>
                    </span>
                    <textarea name="" ></textarea>
                    <b>Rating: </b> 
                    <% if @product.rating.blank? %>
                    <% else %>
                      <%= render_stars(@product.rating) %>
                      <%= @product.rating %>
                    <%end%>
                    <button type="button" class="btn btn-default pull-right">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
              
            </div>
          </div><!--/category-tab-->
          
          <div class="recommended_items"><!--recommended_items-->
            <h2 class="title text-center">recommended items</h2>
            
            <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active"> 
                  <div class="col-sm-4">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <img src="images/home/recommend1.jpg" alt="" />
                          <%= image_tag('home/recommend1', alt:'') %>
                          <h2>$56</h2>
                          <p>Easy Polo Black Edition</p>
                          <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <img src="images/home/recommend2.jpg" alt="" />
                          <%= image_tag('home/recommend2', alt:'') %>
                          <h2>$56</h2>
                          <p>Easy Polo Black Edition</p>
                          <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <img src="images/home/recommend3.jpg" alt="" />
                          <%= image_tag('home/recommend3', alt:"")%>
                          <h2>$56</h2>
                          <p>Easy Polo Black Edition</p>
                          <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">  
                  <div class="col-sm-4">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <img src="images/home/recommend1.jpg" alt="" />
                          <%= image_tag('home/recommend1', alt:"")%>
                          <h2>$56</h2>
                          <p>Easy Polo Black Edition</p>
                          <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <img src="images/home/recommend2.jpg" alt="" />
                          <h2>$56</h2>
                          <p>Easy Polo Black Edition</p>
                          <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="product-image-wrapper">
                      <div class="single-products">
                        <div class="productinfo text-center">
                          <img src="images/home/recommend3.jpg" alt="" />
                          <h2>$56</h2>
                          <p>Easy Polo Black Edition</p>
                          <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                </a>
                <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
                </a>      
            </div>
          </div><!--/recommended_items-->
          <h1>Leave a comment</h1>
     <h4><%= "#{@avg_review}"%> stars</h4>
     <div class="star-rating" data-score= <%= @avg_review %> ></div>
      <em> <%= "#{@reviews.length} reviews" %></em>
      <hr>
     

        <% if @reviews.blank? %>
          <p>No reviews yet</p>
        <% else %>
          <% @reviews.each do |review|%>
            <p><%= review.user_email %></p>
            <div class= "star-rating" data-score = <%= review.rating %> ></div>
            <p><%= review.comment %></p>       
        <% end %> 
        <% end %>
      <% if user_signed_in?%>
      
        <% if @invoices.present? %>

            <% @invoices.each do |invoice| %>
              <% if invoice.status.to_s == "completed" && invoice.invoice_items.pluck(:product_id).include?(@product.id) %>
                <% if !current_user.reviews.exists? %>
                  <%= link_to "Write a comment",  new_product_review_path(@product), class:"btn btn-primary"%>  
                <% else %>
                  <% if !@reviews.pluck(:product_id).include?(@product.id) %>
                  <%= link_to "Write a comment",  new_product_review_path(@product), class:"btn btn-default"%> 
                  <% else %>
                  <%= link_to "Edit a comment",  edit_product_review_path(@product), class:"btn btn-default"%> 
                  <% end %>
                <% end %>
              <% else %> 
              <% end %>
            <% end %>
          <% end %>
          
      <% end %>
        </div>
      </div>
    </div>
</section>

<script>
    $(".star-rating").raty({
      path: '/assets/',
      readOnly: true,
      half: true,
      hints: [['bad 1/2', 'bad'], ['poor 1/2', 'poor'], ['regular 1/2', 'regular'], ['good 1/2', 'good'], ['gorgeous 1/2', 'gorgeous']],
      score: function(){
        return $(this).attr('data-score');
      }
    });
</script>
<!-- <3%= debug(@invoice.product_ids) %> -->
