<%= form_for([@product, @review]) do |f| %>
<% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% @review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% if user_signed_in?%>
 <div class="field">
<%= f.label :user_email%>
<%= f.email_field :user_email, value: current_user.email, class:"form-control"%>
</div>
<br> 
<div id="star-rating"></div><hr>
<div class="field">
<%= f.label :comment%>
<%= f.text_area :comment, class:"form-control"%>
</div>
<br>

<div class="row">
    <div class="col-sm-12">
          <div class="total_area">
              <a href=""><%= f.submit :Submit, class:"btn btn-success"%></a>
              <a href=""><%= link_to "Back", product_path(@product), class:"btn btn-default"%></a>
          </div>
    </div>
</div>
<br>
<%end%>
<%end%>
<script>
  $('#star-rating').raty({
    path: '/assets/',
    half: true,
    hints: [['bad 1/2', 'bad'], ['poor 1/2', 'poor'], ['regular 1/2', 'regular'], ['good 1/2', 'good'], ['gorgeous 1/2', 'gorgeous']],
    scoreName: 'review[rating]'
  });
</script>